<% Rails.application.config.myVar = '' %>

<div id ="table" class = "container">
<table class = "table table-bordered table-hover">
	<tr>
		<td> <%= @circuit.carrier %> </th>
		<td> <%= @circuit.class %> </th>
		<td> <%= @circuit.contract %> </th>
	</tr>
	<tr>
		<td> <%= @circuit.purpose %> </th>
		<td> <%= @circuit.expiration %> </th>
		<td> <%= @circuit.class1 %> </th>
	</tr>
</table>
</div>
<h2>Documents</h2>

<h2>Add a document </h2>

<%= link_to 'Show', edit_circuit_path(@circuit), class: 'btn sharp btn-primary btn-xs' %>
<%= link_to 'Circuits', circuits_path, class: 'btn sharp btn-primary btn-xs' %>