<h1>New Location</h1>
<%= form_for :location, url: locations_path do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@location.errors.count, "error") %> prohibited
        this location from being saved:
      </h2>
      <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.label :phone1 %><br>
    <%= f.text_field :phone1 %>
  </p>
  <p>
    <%= f.label :person1 %><br>
    <%= f.text_field :person1 %>
  </p>
  <p>
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.file_field :file %><br>
    
  </p>
 
   <%= f.submit %>
  
  <p>
   
  </p>
  <%= link_to 'Locations', locations_path %>
<% end %>