<%= image_tag(@location.picture) %>
<div id ="table" class = "container">
<table class = "table table-bordered table-hover">
	<tr>
		<td> <%= @location.title %> </th>
		<td> <%= @location.address %> </th>
		<td> <%= @location.type %> </th>
	</tr>
	<tr>
		<td> <%= @location.phone %> </th>
		<td> Person: <%= @location.person1 %> </th>
	</tr>
</table>
</div>
<h2>Notes</h2>
<%= render @location.notes %>

<h2>Add a note: </h2>
<%= render 'notes/form' %>

<%= link_to 'Show', edit_location_path(@location), class: 'btn sharp btn-primary btn-xs' %>
<%= link_to 'Locations', locations_path, class: 'btn sharp btn-primary btn-xs' %>